<!DOCTYPE html>
<html>
<%- include ('./partials/head') %>

<script>
    $(document).ready(function(){
        console.log(<%- campeonato.ativo %>)
        $('#campeonato_de_selecoes').val(<%- campeonato.campeonato_de_selecoes %> ? 1 : 0);
        $('#situacao').val(<%- campeonato.ativo %> ? 1 : 0);

        $("#selectRodadas").change(function(){
            var idRodada = $(this).children("option:selected").val();
            if(idRodada == 0) {
                $('#listaPartidas').empty();
                return;
            }

            $.ajax({
                type: 'GET',
                url: '/partidas/' + idRodada,
                success: function(response) {
                    $('#listaPartidas').empty();
                    let partidas = response;
                    console.log(partidas)
                    partidas.forEach((partida, index) => {
                        let li = $('<li>').addClass('list-group-item').css("display", "flex");
                        let spanCasa = $('<span>').addClass('placarMandante').css({"width": "45%", "text-align": "right"});
                        let spanCasaTime = $('<div>').text(partida.time_casa).addClass("placarMandante").css({"margin-right": "10%"});
                        let spanCasaInput = $('<div>').css({"float": "right"});
                        let pathTimeCasa = <%- campeonato.campeonato_de_selecoes %> ? ("selecoes/" + partida.time_casa) : ("clubes/" + partida.time_casa);
                        let imgIcone = $('<img>').attr({"src": pathTimeCasa.normalize('NFD').replace(/[\u0300-\u036f]/g, "") + ".svg"}).addClass("iconeClube").css({"margin-left": "10%"});
                        
                        let inputCasa = $('<input>')
                            .attr({"type": "number", "min": 0, "max": 99, "id": index+1 + "_casa", 
                                "name": partida.time_casa, 
                                "value": partida.gols_time_casa})
                            .addClass('form-control inputPlacar');
                        
                        spanCasaTime.append(imgIcone);
                        spanCasaInput.append(inputCasa);
                        spanCasa.append(spanCasaTime);
                        spanCasa.append(spanCasaInput);
                        li.append(spanCasa);

                        let spanX = $('<span>').addClass('placarX').text("x");
                        li.append(spanX);

                        let spanVisitante = $('<span>').addClass('placarVisitante').css({"width": "45%", "text-align": "left"});
                        let spanVisitanteTime = $('<div>').text(partida.time_visitante).addClass("placarVisitante").css({"margin-left": "10%"});
                        let spanVisitanteInput = $('<div>').css({"float": "left"});

                        let pathTimeVisitante = <%- campeonato.campeonato_de_selecoes %> ? ("selecoes/" + partida.time_visitante) : ("clubes/" + partida.time_visitante);
                        let imgIconeVisitante = $('<img>').attr({"src": pathTimeVisitante.normalize('NFD').replace(/[\u0300-\u036f]/g, "") + ".svg"}).addClass("iconeClube").css({"margin-left": "10%"});
                        let inputVisitante = $('<input>')
                            .attr({"type": "number", "min": 0, "max": 99, "id": index+1 + "_visitante", 
                                "name": partida.time_visitante, 
                                "value": partida.gols_time_visitante})
                            .addClass('form-control inputPlacar');
                        
                        spanVisitante.append(imgIconeVisitante);
                        spanVisitante.append(inputVisitante);
                        spanVisitante.append(spanVisitanteInput);
                        spanVisitante.append(imgIconeVisitante);
                        spanVisitante.append(spanVisitanteTime);
                        li.append(spanVisitante);
                        $('#listaPartidas').append(li);
                    });
                }
            });
        });
    });

    // function save() {
    //     var data = $('form').serializeArray();
    //     var url = "/gerenciar/<%= campeonato._id %>" 

    //     data.forEach((item, index) => {
    //         item.name = item.name.trim()
    //     });
  
    //     $.ajax({
    //         type : "POST",
    //         url : url,
    //         contentType : "application/json",
    //         data : JSON.stringify(data),
    //         dataType : "json",  
    //     }).done(function(data){
    //         window.location.href = "/";
    //     });
    // }

</script>

<body style="min-width: fit-content;">
    <%- include ('./partials/styles') %>
    <%- include ('./partials/messages') %>
    <form id="form" action="/gerenciar/<%= campeonato._id %>" method="POST">
    <div class="container-fluid" style="margin-top: 1rem;">
        
        <%- include ('./partials/bannerHeader') %>

        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="card-title">Nome</h5>
                        <input type="text" class="form-control" id="nome" name="nome"  placeholder="username" value="<%= campeonato.nome %>"/>
                    </div>

                    <div class="col-sm-1">
                        <h5 class="card-title">Ano</h5>
                        <input type="text" class="form-control" id="ano" name="ano" placeholder="ano" value="<%= campeonato.ano %>"/>
                    </div>

                    <div class="col-sm-1">
                        <h5 class="card-title">Rodada Atual</h5>
                        <input type="number" min="1" max="38" class="form-control" id="rodadaAtual" name="rodada_atual"  placeholder="rodada atual"  
                            value="<%= campeonato.rodada_atual %>"/>
                    </div>
                    <div class="col-sm-2">
                        <h5 class="card-title">Campeonato de Seleções?</h5>
                        <select  class="form-control"  id="campeonato_de_selecoes" data-placeholder="Selecione a rodada" name="campeonato_de_selecoes">
                            <option value="0">Não</option>
                            <option value="1">Sim</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <h5 class="card-title">Situação do Campeonato</h5>
                        <select  class="form-control"  id="situacao" data-placeholder="Situação Atual do Campeonato" name="situacao">
                            <option value="1">Em Andamento</option>
                            <option value="0">Finalizado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <br/>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <select  class="form-control"  id="selectRodadas" data-placeholder="Selecione a rodada" name="rodada">
                            <option value="0">-- Selecione uma Rodada --</option>
                            <%    rodadas.forEach(function(rodada){ %>
                                <option value="<%= rodada._id %>">Rodada <%= rodada.numero %></option>
                            <%    })        %>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" id="cardPartidas">
                        <ul class="list-group list-group-flush" id="listaPartidas">
                            <!-- lista de partidas geradas dinamicamente -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </form>
</body>
</html>