<!DOCTYPE html>
<html>
<%- include ('./partials/head') %>
<body style="min-width: fit-content;">
    <div class="container-fluid" style="margin-top: 1rem;">
        <%- include ('./partials/messages') %>
        <div class="row">
            <div class="col-sm-12">
                <% if(logado) { %>
                    <a href="/logout" class="btn btn-danger" style="float: right;">Logout</a>
                <% } else { %>
                    <a href="/login" class="btn btn-info" style="float: right;">Login</a>
                <% } %>
            </div>
        </div>

        <br/>

        <div class="row">
            <%    campeonatos.forEach(function(campeonato){ %>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title"><%= campeonato.nome %> <%= campeonato.ano %></h5>
                        <p class="card-text">Simulador para <%= campeonato.nome %> <%= campeonato.ano %></p>
                        <a href="/simular?campeonatoId=<%= campeonato._id %>" class="btn btn-primary">Simular</a>
                        <% if(logado) { %>
                            <a href="/gerenciar?campeonatoId=<%= campeonato._id %>" class="btn btn-danger" style="float: right;">Gerenciar</a>
                        <% } %>
                        </div>
                    </div>
                </div>
            <%    })        %>
        </div>
      </div>
</body>
</html>