<!DOCTYPE html>
<html>
<%- include ('./partials/head') %>
<script src="js/main.js"></script>
<body style="min-width: fit-content;">
<%- include ('./partials/styles') %>
    <script>      
        window.onload = function() {
            const campeonato =  <%- campeonato %>;
            let rodadas = [<%- rodadas %>];
            let times = [<%- times %>];
            times.sort(function (a, b) {
                return b.pontuacao - a.pontuacao || b.n_vitorias - a.n_vitorias || b.saldo_gols - a.saldo_gols || b.gols_pro - a.gols_pro;
            });
            rodadas.forEach(rodada => {
                rodada.partidas.forEach(partida => {
                    partida['realizado'] = partida.gols_time_casa != null && partida.gols_time_visitante != null;
                })
            });
            
            localStorage.setItem("times", JSON.stringify(times));
            localStorage.setItem("rodadas", JSON.stringify(rodadas));
            localStorage.setItem("rodadaAtual", campeonato.rodada_atual);
            localStorage.setItem("campeonato", JSON.stringify(campeonato));
            $('#titulo').text(campeonato.nome + " " + campeonato.ano);
            atualizarLinksNavegacao();
            atualizarTabela();
            atualizarRodada();
        };       
    </script>

    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light mb-2">
            <span class="navbar-brand mb-0 h">
                <h1 id="titulo"><!-- Gerado dinamicamente --></h1>
            </span>
        </nav>
        
        <div class="row">
            <div class="col-lg-8">
                <table class="table table-hover table-bordered" id="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Classificação</th>
                        <th title="Pontuação">P</th>
                        <th title="Número de Jogos">J</th>
                        <th title="Número de Vitórias">V</th>
                        <th title="Número de Empates">E</th>
                        <th title="Número de Derrotas">D</th>
                        <th title="Gols Pró">GP</th>
                        <th title="Gols Contra">GC</th>
                        <th title="Saldo de Gols">SG</th>
                        <th title="Aproveitamento">%</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyTabelaClassificacao">
                        <!-- tabela de classificação gerada dinamicamente -->
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h" id="linkVoltar">
                        <!-- link gerado dinamicamente -->
                    </span>
                    <span id="textoRodada" class="navbar-brand mb-0 h">               
                        <!-- Número da rodada gerado dinamicamente -->
                    </span>
                    <span class="navbar-brand mb-0 h" id="linkAvancar">
                        <!-- link gerado dinamicamente -->
                    </span>
                </nav>
                
                <!-- <img src="Flamengo.svg" /> -->
                <!-- <div style="display: flex;">
                    <div style="justify-content: flex-end; display: flex; width: 35%;">Flamengo dasda</div>
                    <div style="justify-content: center; display: flex; width: 30%;">x</div>
                    <div style="justify-content: flex-start; display: flex; width: 30%;">red bull bragantino</div>
                </div> -->

                <ul class="list-group list-group-flush" id="listaRodadas">
                    <!-- lista de partidas geradas dinamicamente -->
                </ul>

            </div>
        </div>
    </div>
    
</body>
</html>